<!DOCTYPE html>
 <html ng-app="StackOverflow">
<head>
<body ng-controller="StackOverflowCtrl as vm">
<div>	
<div  ng-repeat="posts in filteredpostDetails track by $index">
<div class="row" ng-if="posts._Title">	
<div  class="col-lg-10" style="color:blue; font-size:18px" >{{posts._Title}}</div>
</div>
<p style="color:black;">{{posts._Body}}</p>
<button ng-click="upVote($index)">Vote Up ({{posts.upVote}})</button> <button ng-click="downVote($index)">Vote Down({{posts.downVote}})</button>
<div></div>
</div>
	<ul>
    <pagination
      ng-model="currentPage"
      total-items="postdetails.length"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
</ul>
</div>
</body>
<script src="angular.js"></script>
<script src="StackOverflow.js"></script>
<script src="xml2json.js"></script>
<script src="ui-bootstrap-tpls.js"></script>
<script src="ui-bootstrap-tpls.min.js"></script>
<script src="ui-bootstrap.js"></script>
<script src="ui-bootstrap.min.js"></script>
  <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

 <script src=" https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.0/angular-sanitize.min.js"></script>
   

</head>
</html>